@model IEnumerable<PizzaProject1.Models.Location>

@{
    ViewData["Title"] = "Admin - Show All Locations";
}

<div class="text-center">
    <h1>Locations</h1>
</div>

<p class="return-link">
    <a asp-action="Index"><< Back to Admin Tools Dashboard</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td class="table-link">
                    @Html.ActionLink("Show Order History", "LocationOrders", new { id = item.Id })
                    @Html.ActionLink("Show Inventory", "LocationInventory", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
